<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/form.css">
    <link rel="stylesheet" href="assets/css/validate.css">
    <link rel="stylesheet" href="assets/css/horoscope.css">
    <link rel="stylesheet" href="assets/css/accordion.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <title>Matrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
            <div class="navopt">
                <span>
                    <a href="#">Home</a>
                </span>
                <span>
                    <a href="#">Members</a>
                </span>
                <span>
                    <a href="#">Settings</a>
                </span>
                <span>
                    <a href="#">About</a>
                </span>
            </div>
        </nav>
        <div class="formcontainer">
            <div class="accordion" id="accord1" data-index="1" data-target="p_details" data-title="Personal details">
                <div class="accordionContent" id="p_details">
                    <form name="member" data-next="accord2-accord3" id="memberData">
                        <div class="grid-auto-autofit-min330">
                            <div class="grid-auto-2">

                                <div class="flex-col col-2 row-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Photo:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="file" name="photo" id="profileUp">
                                        <div class="profilePhoto">
                                            <img id="profilePic" src="assets/img/altProfile.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Name:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="name" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Join Date:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="date" name="join_date">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Age:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" readonly id="memage">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">DOB:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="date" name="dob" data-validate="required"
                                            onchange="showAge(event);">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Gender:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select name="gender" data-validate="required">
                                            <option value="">-</option>
                                            <option value="male">Male</option>
                                            <option value="female">female</option>
                                            <option value="Other">Other</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Religion:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select id="religion" data-validate="required">
                                            <option value="">-</option>

                                        </select>

                                    </div>

                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Caste:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select name="caste_id" data-validate="required">
                                            <option value="">-</option>
                                        </select>

                                    </div>

                                </div>

                            </div>
                            <div class="grid-auto-2">
                                <div class="flex-col col-2 row-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Address:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <textarea name="addr" data-validate="required"></textarea>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">District:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="dist" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">City/Town:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="city" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Landmark:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="landmark">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Pin Code:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="pin" data-validate="pin">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Phone no:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>

                                    <div class="fieldinp">
                                        <input name="mobile" type="text" data-validate="phone">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname"> Email: </div>
                                        <div class="errorField"></div>

                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mail" data-validate="email">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Landline:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>

                                    <div class="fieldinp">
                                        <input name="landline" type="text" data-validate="number">
                                    </div>
                                </div>

                            </div>
                            <div class="grid-auto-2">
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Star:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="star" type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Qualification:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="qualification" type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Occupation:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="occupation" type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Height:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="height" type="text">
                                    </div>
                                </div>

                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Physique:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="physique" type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Complexion:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="complexion" type="text">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="flex-row-reverse">
                            <button class="formSubmitBtn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="accordion" id="accord2" data-index="2" data-target="fam_details" data-title="Family details">

                <div class="accordionContent" id="fam_details">
                    <div class="grid-auto-autofit-min330">
                        <form id="familyData" data-next="accord21">
                            <div class="grid-auto-2">

                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's name:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="fName" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's contact no:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="fmobile" data-validate="phoneNotReq">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's landline:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="flandline" data-validate="phoneNotReq">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's email:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="fmail" data-validate="email">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's occupation:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="fOcc">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's name:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mName" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's contact no:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mmobile" data-validate="phoneNotReq">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's landline:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mlandline" data-validate="phoneNotReq">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's email:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mmail" data-validate="email">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's occupation:

                                        </div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mOcc">
                                    </div>
                                </div>
                                <div class="flex-row-reverse">
                                    <button class="formSubmitBtn">Add</button>
                                </div>
                        </form>
                    </div>
                    <div class="accordion" id="accord21" data-index="2-1" data-target="sib_details"
                        data-title="Siblings">
                        <div class="accordionContent" id="sib_details">
                            <form id="SiblingData">
                                <div class="flex-row">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Add sibling:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-auto-1fluid" id="sibDet"></div>
                                <div class="flex-row-reverse">
                                    <button class="formSubmitBtn">Add</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="accordion" id="accord3" data-index="3" data-target="horo" data-title="Horoscope">
            <div class="accordionContent" id="horo">
                <form id="HoroscopeData">
                    <div class="grid-auto-autofit-min330">
                        <div class="grid-auto-2">
                            <div class="flex-col col-2 row-4">
                                <div class="panel">

                                    <!-- board 1 -->
                                    <div class="board" id="board1">
                                        <textarea class="square" name="a1"></textarea>
                                        <textarea class="square" name="a2"></textarea>
                                        <textarea class="square" name="a3"></textarea>
                                        <textarea class="square" name="a4"></textarea>
                                        <textarea class="square" name="a5"></textarea>
                                        <textarea class="square" name="a6"></textarea>
                                        <textarea class="square" name="a7"></textarea>
                                        <textarea class="square" name="a8"></textarea>
                                        <textarea class="square" name="a9"></textarea>
                                        <textarea class="square" name="a10"></textarea>
                                        <textarea class="square" name="a11"></textarea>
                                        <textarea class="square" name="a12"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-auto-2">
                            <div class="flex-col col-2 row-4">
                                <div class="keyboard" id="keyB">
                                    <button type="button" class="keyboardKey" value="ബൂ">ബൂ</button>
                                    <button type="button" class="keyboardKey" value="ച">ച</button>
                                    <button type="button" class="keyboardKey" value="കു">കു</button>
                                    <button type="button" class="keyboardKey" value="ഗു">ഗു</button>
                                    <button type="button" class="keyboardKey" value="മ">മ</button>
                                    <button type="button" class="keyboardKey" value="മാ">മാ</button>
                                    <button type="button" class="keyboardKey" value="ല">ല</button>
                                    <button type="button" class="keyboardKey" value="ര">ര</button>
                                    <button type="button" class="keyboardKey" value="സ">സ</button>
                                    <button type="button" class="keyboardKey" value="ശി">ശി</button>
                                    <button type="button" class="keyboardKey" value="ശു">ശു</button>
                                </div>
                            </div>
                        </div>
                        <div class="grid-auto-2">
                            <div class="flex-col col-2 row-4">
                                <div class="panel">

                                    <div class="board" id="board2">
                                        <textarea class="square" name="b1"></textarea>
                                        <textarea class="square" name="b2"></textarea>
                                        <textarea class="square" name="b3"></textarea>
                                        <textarea class="square" name="b4"></textarea>
                                        <textarea class="square" name="b5"></textarea>
                                        <textarea class="square" name="b6"></textarea>
                                        <textarea class="square" name="b7"></textarea>
                                        <textarea class="square" name="b8"></textarea>
                                        <textarea class="square" name="b9"></textarea>
                                        <textarea class="square" name="b10"></textarea>
                                        <textarea class="square" name="b11"></textarea>
                                        <textarea class="square" name="b12"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="flex-row-reverse">
                        <button class="formSubmitBtn">Add</button>
                    </div>
                </form>

            </div>
        </div>

    </div>

    </div>

    </div>
    </div>

    <script src="assets/js/sweetalert.min.js"></script>
    <script src="assets/js/image.js"></script>
    <script type="module">
        import { bind, init } from './assets/js/accordion.js';
        document.querySelectorAll('.accordion').forEach((elm) => {
            bind(elm);
        });
        init({"open": true});
    </script>
    <script type="module">
        // init


        function getValidRule(rule) {
            switch (rule) {
                case "phone":
                    return {
                        title: "Phone no",
                        stop: true,
                        required: true,
                        numeric: true
                    }
                    break;
                case "phoneNotReq":
                    return {
                        title: "Phone no",
                        ignoreNull: true,
                        numeric: true
                    }
                    break;
                case "number":
                    return {
                        title: "This feild",
                        numeric: true,
                        ignoreNull: true
                    }
                case "pin":
                    return {
                        title: "PIN",
                        stop: true,
                        required: true,
                        numeric: true,
                        length: {
                            len: 6
                        }
                    }
                    break;
                case "email":
                    return {
                        title: "email",
                        ignoreNull: true,
                        email: true
                    }
                    break;
                case "required":
                    return {
                        title: "This feild",
                        stop: true,
                        required: true,
                    }


            }
        }
        import('./assets/js/validate.js')
            .then(module => {
                const dynamicInput = function (mutationsList, observer) {
                    for (const mutation of mutationsList) {
                        if (mutation.type === 'childList') {
                            mutation.addedNodes.forEach(val => {
                                if (Object.getPrototypeOf(val).constructor.name !== 'Text') {
                                    let fields = val.querySelectorAll("input,textarea,select");
                                    if (fields.length) {
                                        fields.forEach(elm => {
                                            module.bind(elm, elm.parentElement.parentElement.querySelector('.errorField'), getValidRule(elm.dataset.validate));
                                        });
                                    }
                                }

                            });
                        }
                    }
                };
                const dynamicInputConf = { childList: true, subtree: true };
                let observer = new MutationObserver(dynamicInput);
                let formctnr = document.querySelectorAll(".formcontainer");
                formctnr.forEach((value) => {
                    observer.target = value;
                    observer.observe(value, dynamicInputConf);
                    value.querySelectorAll("input,textarea,select").forEach((elm) => {
                        if (elm.dataset.validate) {
                            module.bind(elm, elm.parentElement.parentElement.querySelector('.errorField'), getValidRule(elm.dataset.validate));

                        }


                    });
                });
            })
            .catch(err => {
                console.log(err.message);
            });
        import { render, compile, renderToDOM } from './assets/js/templating.js';
        import HttpClient from './assets/js/httpClient.js';
        import serialize from './assets/js/getters.js';

        (function () {
            addSiblingField();
        })();

        //sibling add
        document.getElementById('sibAdd').addEventListener('click', siblingData);


        function addSiblingField() {
            let sibNode = document.getElementById('sibDet');
            let sibAcc = document.getElementById('sib_details');

            let Template = `
            <div class="grid-auto-3fluid"">
                <div class="flex-col">
                    <div class="fieldtitle">
                        <div class="fieldname">Gender:</div>
                            <div class="errorField"></div>
                    </div>
                    <div class="fieldinp">
                        <select name="gender" data-validate="required">
                            <option value="">-</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="flex-col form-m-age">
                    <div class="fieldtitle">
                        <div class="fieldname">Age:</div>
                            <div class="errorField"></div>
                    </div>
                    <div class="fieldinp">
                        <input name="age" type="number" data-validate="required">
                    </div>
                </div>
                <div class="flex-col">
                    <div class="fieldtitle">
                        <div class="fieldname">Married:</div>
                        <div class="errorField"></div>
                    </div>
                    <div class="fieldinp">
                        <select name="married" data-validate="required">
                            <option value="">-</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                </div>    
                    `;
            renderToDOM(Template, sibNode);
        }

        function siblingData() {
            /*let form = `sibling${index}`;
            const formdata = serialize(form, 'json');
            siblingdata[index] = formdata;
*/
            addSiblingField();
        }

        //keyboard
        document.querySelectorAll(".keyboardKey").forEach(el => {
            el.addEventListener('mousedown', insertKey);
        });

        function insertKey(e) {
            e.preventDefault();
            let key = e.target,
                val = key.value,
                active = document.activeElement;
            active.value += val;

        }
        // religion and caste fetching
        (function () {
            let relNode = document.getElementById('religion'),
                casteNode = document.getElementsByName('caste_id')[0],
                temp = `<option value="{{value}}">{{valuesh}}</option>`,
                c = compile(temp),
                dat = [],
                client = new HttpClient('http://localhost', 'matrimony/religion/all', 'get', '');
            client.request().then((d) => {
                let retData = d.data
                Object.keys(retData).forEach((val, index) => {
                    dat.push({ 'value': retData[val].religion, 'valuesh': retData[val].religion });
                });
                renderToDOM(render(c, dat), relNode);
            });
            relNode.addEventListener('change', (e) => {
                if (e.target.selectedIndex) {
                    loadCaste(e.target.value);
                }
            });
            function loadCaste(rel) {
                dat = [];
                casteNode.textContent = '';
                client = new HttpClient('http://localhost', 'matrimony/religion/caste/?rel=' + rel, 'get', '');
                client.request().then((d) => {
                    let retData = d.data
                    Object.keys(retData).forEach((val, index) => {
                        dat.push({ 'value': retData[val].id, 'valuesh': retData[val].caste });
                    });
                    renderToDOM(render(c, dat), casteNode);
                });
            }
        })();
        //after form submit
        document.addEventListener('validForm', (e) => {
            if (e.target.id === 'memberData') {
                addMember(e.target);
            }
            else if (e.target.id === 'familyData') {
                editFamily(e.target);
            }
            else if (e.target.id === 'SiblingData') {
                editSibling(e.target);
            }
            else if (e.target.id === 'HoroscopeData') {
                editHoro(e.target);
            }

        });
        function updateMemberData(){
            sendRequest('matrimony/member/?id=' + memberData.id, 'GET').then((d) => {
                    window.memberData = d.data[0];
                    swal("Success", "Data updated", "success");
                });
        }
        function updateFamilyData(){
                    sendRequest('matrimony/family/?id=' + data.data.id, 'GET').then((dat) => {
                        window.memberData.family = dat.data[0];
                        swal("Success", "Data updated", "success");
                    });
        }
        function editMember(form) {
            sendRequest('matrimony/member', 'PATCH', 'multipart/form-data', form, { 'id': memberData.id}).then((data) => {
                updateMemberData();
            });
        }
        function editFamily(form) {
            sendRequest('matrimony/family', 'PATCH', 'multipart/form-data', form, { 'id': memberData.id}).then((data) => {
                sendRequest('matrimony/member/', 'PATCH', 'multipart/form-data', null, { 'id': memberData.id, 'family': memberData.family.pId }).then((d) => {
                    updateFamilyData();
                });
            });
        }
        function editSibling(form) {
            let d = new Object(),
                gender,
                age,
                mar,
                len = form.querySelectorAll('input[name="age"]').length;
            d.id = familyData.pId;
            d.data = new Object();
            for (let i = 0; i < len; i++) {
                d.data[i] = new Object();
                d.data[i].sex = form.querySelectorAll('select[name="gender"]')[i].value;
                d.data[i].age = form.querySelectorAll('input[name="age"]')[i].value;
                d.data[i].mar = form.querySelectorAll('select[name="married"]')[i].value;
            }
            sendRequest('matrimony/sibling/add', 'POST', 'application/json', false, d).then((data) => {
                swal("Success", "Data added", "success");
                console.log(JSON.stringify(data));

            });
        }
        function editHoro(form) {
            let boards = form.querySelectorAll('#board1,#board2'),
                formData = new FormData(),
                data = new Object();
            boards.forEach((board) => {
                data[board.id] = new Object();
                board.querySelectorAll('textarea').forEach((inp) => {
                    data[board.id][inp.name] = inp.value;
                });
            });
            data = JSON.stringify(data);
            sendRequest('matrimony/member/', 'PATCH', 'multipart/form-data', null, { 'id': memberData.id, 'horo': data }).then((d) => {
                disableForm(form);
                swal("Success", "Data added", "success");
            });
        }
        async function sendRequest(endpoint, method, contentType = false, form = false, addition = false) {
            let client, data;
            if (method === 'get' || method === 'GET') {
                client = new HttpClient('http://localhost', endpoint, 'GET', '');
            } else {
                data = serialize(form, contentType, addition);
                if (contentType === 'application/json') {
                    client = new HttpClient('http://localhost', endpoint, method, { 'Content-Type': contentType }, data);
                } else {
                    client = new HttpClient('http://localhost', endpoint, method, null, data);

                }
            }
            return new Promise(function (resolve, reject) {
                client.request().then((data) => {
                    if (data.status === 'success') {
                        resolve(data);
                    } else {
                        swal("Failed", 'Something happened', "error");

                    }
                }).catch(error => {
                    swal("Failed", error.message, "error");
                });
            });

        }


        function submit() {
            let client = new HttpClient('http://localhost', 'matrimony/family', 'POST', '', data);
            client.request().then((data) => {
                if (data.status === 'Success') {
                    console.log('hurray');

                }
            }).catch(error => {
                consolr.log(`error ${error}`);
            });
        }
    </script>
    <script>
        function showAge(e) {
            let today = new Date(),
                DOB = new Date(e.target.value),
                targetElm = document.getElementById('memage'),
                nowMonth = parseInt(today.getMonth()),
                nowYear = parseInt(today.getFullYear()),
                DOBMonth = DOB.getMonth(),
                DOBYear = DOB.getUTCFullYear(), age;
            if (DOBMonth <= nowMonth) {
                age = nowYear - DOBYear;
            } else {
                age = nowYear - DOBYear - 1;
            }
            targetElm.value = age;

        }

    </script>
</body>

</html>