<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/dashboard.css">
    <link rel="stylesheet" href="assets/css/form.css">
    <link rel="stylesheet" href="assets/css/validate.css">
    <link rel="stylesheet" href="assets/css/horoscope.css">
    <link rel="stylesheet" href="assets/css/accordion.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <title>Matrimony --Dashboard</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
            <div class="navopt">
                <span>
                    <a href="#">Home</a>
                </span>
                <span>
                    <a href="#">Members</a>
                </span>
                <span>
                    <a href="#">Settings</a>
                </span>
                <span>
                    <a href="#">About</a>
                </span>
            </div>

            
        </nav>

<div class="main">
    <div class="card">
        <div class="icon"><i class="fa fa-female" aria-hidden="true"></i></div>
        <span class="subtitle">1000</span>
        <span class=" title">Female</span>
    </div>
    <div class="card">
        <div class="icon"><i class="fa fa-male" aria-hidden="true"></i></div>
        <span class="subtitle">1000</span>
        <span class=" title">Male</span>
    </div>
    <div class="card">
        <div class="icon"><i class="fa fa-venus-mars" aria-hidden="true"></i></div>
        <span class="subtitle">1000</span>
        <span class="title">Non Binary</span>
    </div>


</div>        
    </div>
    <script src="assets/js/httpClient.js"></script>
    <script>
        // import HttpClient from './assets/js/HttpClient.js';
    </script>
</body>

</html>