<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Martrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
        </nav>


    </div>
    <script src="assets/js/httpClient.js"></script>
    <script>
        // import HttpClient from './assets/js/HttpClient.js';
    </script>
</body>

</html>