<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <title>Matrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
            <div class="navopt">
                <span>
                    <a href="#">Home</a>
                </span>
                <span>
                    <a href="#">Members</a>
                </span>
                <span>
                    <a href="#">Settings</a>
                </span>
                <span>
                    <a href="#">About</a>
                </span>
            </div>
        </nav>
        <div class="formcontainer">
            <button class="formheadbtn activeformbtn" data-target="p_details">
                <div class="formheading">
                    <div class=formtitle> Personal details</div>
                </div>
                <div class="formheadcaret"><span class="fa fa-caret-right faicon"></span></div>
            </button>

            <div id="p_details" class="formbox">
                <div class="subform1">
                    <div class="feildcont col-2">
                        <div class="feildtitle">
                            <div class="feildname">Name:</div>
                            <div class="feilderror">
                                <template id="validationErr"> 
                                    <span class="fa fa-exclamation-circle"></span>
                                    <div id="errMsg" class="errmsg"></div>
                                </template>
                            </div>
                        </div>
                        <div class="feildinp">
                            <input type="text" name="name">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Age:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">Date:</div>
                        <div class="feildinp">
                            <input type="date">
                        </div>
                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">Gender:</div>
                        <div class="feildinp">
                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                        </div>

                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">Religion:</div>
                        <div class="feildinp">
                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                        </div>

                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">Caste:</div>
                        <div class="feildinp">
                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                        </div>

                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Name:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Name:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="subform2">
                    <div class="feildcont col-2 row-2">
                        <div class="feildtitle">Address:</div>
                        <div class="feildinp">
                            <textarea></textarea>
                        </div>
                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">City/Town:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">Pin Code:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">District:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">
                            <div class="feildname"> Email: </div>
                            <div class="feilderror"></div>

                        </div>
                        <div class="feildinp">
                            <input type="text" data-validate="email">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Phone no:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="subform3">
                    <div class="feildcont col-2">
                        <div class="feildtitle">Qualification:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Occupation:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Height:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>

                    <div class="feildcont col-2">
                        <div class="feildtitle">Physique:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Complexion:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>

                </div>
            </div>
            <button class="formheadbtn activeformbtn" data-target="fam_details">
                <div class="formheading">
                    <div class=formtitle> Family details</div>
                </div>
                <div class="formheadcaret"><span class="fa fa-caret-right faicon"></span></div>
                            </button>

            <div id="fam_details" class="formbox">
                <div class="subform1">
                    <div class="feildcont col-2">
                        <div class="feildtitle">Father's name:</div>
                        <div class="feildinp">
                            <input type="text" name="name">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Father's contact No.</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Father's occupation</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">Gender:</div>
                        <div class="feildinp">
                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                        </div>

                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">Religion:</div>
                        <div class="feildinp">
                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                        </div>

                    </div>
                    <div class="feildcont">
                        <div class="feildtitle">Caste:</div>
                        <div class="feildinp">
                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                        </div>

                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Name:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Name:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="subform2">
                    <div class="feildcont col-2">
                        <div class="feildtitle">Mother's name:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Mother's contact No.</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Mother's occupation</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">District:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Email:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Phone no:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="subform3">
                    <div class="feildcont col-2">
                        <div class="feildtitle">Qualification:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Occupation:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Height:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>

                    <div class="feildcont col-2">
                        <div class="feildtitle">Physique:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildtitle">Complexion:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>

                </div>
            </div>
            <button id="submit">Add</button>
            <input type="file" id="profileUp">
            <img id="profilePic" src="assets/img/altProfile.jpeg">
        </div>
    </div>
    <script src="assets/js/approve.min.js"></script>

    <script>
        //Simple templating for form validation
        function renderTemp(elmtmp, data, parent) {
            elm = elmtmp.cloneNode(true);
            for (const pr in data) {
                subelm = elm.getElementById(pr);
                subelm.append(document.createTextNode(data[pr]));
            }
            parent.append(elm);
        }

        //Accordion
        function accordionctrl(e) {
            let currPress = e.currentTarget;
            let heading = currPress.querySelector(".formheading");
            heading.classList.toggle("activeformhead");
            let iconspan = currPress.querySelector(".faicon");
            let target = document.getElementById(currPress.dataset.target);
            if (target.clientHeight) {
                target.style.height = 0;
                iconspan.classList.replace("fa-caret-down", "fa-caret-right");

            } else {
                target.style.height = target.scrollHeight + "px";
                iconspan.classList.replace("fa-caret-right", "fa-caret-down");

            }

        }

        let accButton = document.querySelectorAll(".formheadbtn");
        accButton.forEach(element => {
            element.addEventListener("click", accordionctrl);

        });
        let activehead = -1;
        accButton.forEach(element => {
            element.addEventListener("focus", e => {
                activehead = Array.prototype.indexOf.call(accButton, e.target);
            });
        });
        accButton.forEach(element => {
            element.addEventListener("blur", e => {
                activehead = -1;
            });
        });
        document.addEventListener("keydown", e => {
            switch (e.key) {
                case "ArrowDown":
                    if (activehead === -1 || activehead === accButton.length - 1) {
                        accButton[0].focus();
                    } else {
                        accButton[activehead + 1].focus();
                    }
                    break;
                case "ArrowUp":
                    if (activehead === -1 || activehead === 0) {
                        accButton[accButton.length - 1].focus();
                    } else {
                        accButton[activehead - 1].focus();

                    }
                    break;
            }


        });

        //Validation
        function validate(e) {
            let feild = e.target;
            let errnode = feild.parentNode.parentNode.querySelector(".feilderror");
            if (feild.dataset.validate) {

            }

        }
        let formctnr = document.querySelectorAll(".formcontainer");
        formctnr.forEach(value => {
            value.querySelectorAll("input,textarea").forEach(input => {
                input.addEventListener("focusout", validate);
            });
        });
        //Image displaying
        const inputElement = document.getElementById("profileUp");
        inputElement.addEventListener("change", handleFile, false);

        function handleFile() {
            const file = this.files[0];
            console.log(file);
            if (file.type.startsWith('image/')) {
                const img = document.getElementById("profilePic");
                img.file = file;
                const objectURL = window.URL.createObjectURL(file);
                img.src = objectURL;
            }



        }





        window.load = accButton[0].click();
    </script>
</body>

</html>