<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/form.css">
    <link rel="stylesheet" href="assets/css/validate.css">
    <link rel="stylesheet" href="assets/css/horoscope.css" <link rel="stylesheet"
        href="assets/fontawesome/css/all.min.css">
    <title>Matrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
            <div class="navopt">
                <span>
                    <a href="#">Home</a>
                </span>
                <span>
                    <a href="#">Members</a>
                </span>
                <span>
                    <a href="#">Settings</a>
                </span>
                <span>
                    <a href="#">About</a>
                </span>
            </div>
        </nav>
        <div class="formcontainer">
            <div class="accordion">
                <button class="formheadbtn activeformbtn" data-target="p_details">
                    <div class="formheading">
                        <div class=formtitle> Personal details</div>
                    </div>
                    <div class="formheadcaret"><span class="fa fa-caret-right faicon"></span></div>
                </button>
                <div id="p_details" class="formbox">
                    <div class="subform">
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">
                                <div class="fieldname">Name:</div>
                                <div class="fielderror">
                                </div>
                            </div>
                            <div class="fieldinp">
                                <input type="text" name="name">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Age:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">Date:</div>
                            <div class="fieldinp">
                                <input type="date">
                            </div>
                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">Gender:</div>
                            <div class="fieldinp">
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>

                            </div>

                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">Religion:</div>
                            <div class="fieldinp">
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>

                            </div>

                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">Caste:</div>
                            <div class="fieldinp">
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>

                            </div>

                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Name:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Name:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="subform">
                        <div class="fieldcont col-2 row-2">
                            <div class="fieldtitle">Address:</div>
                            <div class="fieldinp">
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">City/Town:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">Pin Code:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">District:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">
                                <div class="fieldname"> Email: </div>
                                <div class="fielderror"></div>

                            </div>
                            <div class="fieldinp">
                                <input type="text" data-validate="email">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Phone no:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="subform">
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Qualification:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Occupation:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Height:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>

                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Physique:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Complexion:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion">

                <button class="formheadbtn activeformbtn" data-target="fam_details">
                    <div class="formheading">
                        <div class=formtitle> Family details</div>
                    </div>
                    <div class="formheadcaret"><span class="fa fa-caret-right faicon"></span></div>
                </button>

                <div id="fam_details" class="formbox">
                    <div class="subform">
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Father's name:</div>
                            <div class="fieldinp">
                                <input type="text" name="name">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Father's contact No.</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Father's occupation</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">Gender:</div>
                            <div class="fieldinp">
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>

                            </div>

                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">Religion:</div>
                            <div class="fieldinp">
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>

                            </div>

                        </div>
                        <div class="fieldcont">
                            <div class="fieldtitle">Caste:</div>
                            <div class="fieldinp">
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>

                            </div>

                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Name:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Name:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="subform">
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Mother's name:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Mother's contact No.</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Mother's occupation</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">District:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Email:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Phone no:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="subform">
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Qualification:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Occupation:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Height:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>

                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Physique:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>
                        <div class="fieldcont col-2">
                            <div class="fieldtitle">Complexion:</div>
                            <div class="fieldinp">
                                <input type="text">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion">

                <button class="formheadbtn activeformbtn" data-target="horo">
                    <div class="formheading">
                        <div class=formtitle> Horoscope</div>
                    </div>
                    <div class="formheadcaret">
                        <span class="fa fa-caret-right faicon"></span>
                    </div>
                </button>
                <div class="formbox" id="horo">
                    <div class="subform">
                        <div class="fieldcont col-2 row-4">
                            <div class="panel">

                                <!-- board 1 -->
                                <form class="board" id="board1">
                                    <input class="square" name="1" />
                                    <input class="square" name="2" />
                                    <input class="square" name="3" />
                                    <input class="square" name="4" />
                                    <input class="square" name="5" />
                                    <input class="square" name="6" />
                                    <input class="square" name="7" />
                                    <input class="square" name="8" />
                                    <input class="square" name="9" />
                                    <input class="square" name="10" />
                                    <input class="square" name="11" />
                                    <input class="square" name="12" />

                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="subform">
                        <div class="fieldcont col-2 row-4">
                            <div class="keyboard" id="keyB">
                                <button class="keyboardKey" value="ബൂ">ബൂ</button>
                                <button class="keyboardKey" value="ച">ച</button>
                                <button class="keyboardKey" value="കു">കു</button>
                                <button class="keyboardKey" value="ഗു">ഗു</button>
                                <button class="keyboardKey" value="മ">മ</button>
                                <button class="keyboardKey" value="മാ">മാ</button>
                                <button class="keyboardKey" value="ല">ല</button>
                                <button class="keyboardKey" value="ര">ര</button>
                                <button class="keyboardKey" value="സ">സ</button>
                                <button class="keyboardKey" value="ശി">ശി</button>
                                <button class="keyboardKey" value="ശു">ശു</button>
                            </div>
                        </div>
                    </div>
                    <div class="subform">
                        <div class="fieldcont col-2 row-4">
                            <div class="panel">

                                <form class="board" id="board2">
                                    <input class="square" name="1" />
                                    <input class="square" name="2" />
                                    <input class="square" name="3" />
                                    <input class="square" name="4" />
                                    <input class="square" name="5" />
                                    <input class="square" name="6" />
                                    <input class="square" name="7" />
                                    <input class="square" name="8" />
                                    <input class="square" name="9" />
                                    <input class="square" name="10" />
                                    <input class="square" name="11" />
                                    <input class="square" name="12" />

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button id="submit">Add</button>

        </div>
    </div>
    <script type="module">
        import { handleFile } from './assets/js/validate.js';
        import { validate } from './assets/js/validate.js';
        let formctnr = document.querySelectorAll(".formcontainer");
        formctnr.forEach(value => {
            value.querySelectorAll("input,textarea").forEach(input => {
                input.addEventListener("focusout", (e) => {
                    validate(e.target,
                        e.target.parentElement.parentElement.querySelector('.fielderror'))
                });
            });
        });
    </script>
    <script src="assets/js/approve.min.js"></script>

    <script>
        //keyboard
        document.querySelectorAll(".keyboardKey").forEach(el => {
            el.addEventListener('mousedown', insertKey);
        });

        function insertKey(e) {
            e.preventDefault();
            let key = e.target,
                val = key.value,
                active = document.activeElement;
            active.value += val;

        }

        //Simple templating for form validation
        function renderTemp(elmtmp, data, parent) {
            elm = elmtmp.cloneNode(true);
            for (const pr in data) {
                subelm = elm.getElementById(pr);
                subelm.append(document.createTextNode(data[pr]));
            }
            parent.append(elm);
        }

        //Accordion
        function accordionctrl(e) {
            let currPress = e.currentTarget;
            let heading = currPress.querySelector(".formheading");
            heading.classList.toggle("activeformhead");
            let iconspan = currPress.querySelector(".faicon");
            let target = document.getElementById(currPress.dataset.target);
            if (target.clientHeight) {
                target.style.height = 0;
                iconspan.classList.replace("fa-caret-down", "fa-caret-right");

            } else {
                target.style.height = target.scrollHeight + "px";
                iconspan.classList.replace("fa-caret-right", "fa-caret-down");

            }

        }

        let accButton = document.querySelectorAll(".formheadbtn");
        accButton.forEach(element => {
            element.addEventListener("click", accordionctrl);

        });
        let activehead = -1;

        accButton.forEach(element => {
            element.addEventListener("focus", e => {
                activehead = Array.prototype.indexOf.call(accButton, e.target);
            });
        });
        accButton.forEach(element => {
            element.addEventListener("blur", e => {
                activehead = -1;
            });
        });

        document.addEventListener("keydown", e => {
            switch (e.key) {
                case "ArrowDown":
                    if (activehead === -1 || activehead === accButton.length - 1) {
                        accButton[0].focus();
                    } else {
                        accButton[activehead + 1].focus();
                    }
                    break;
                case "ArrowUp":
                    if (activehead === -1 || activehead === 0) {
                        accButton[accButton.length - 1].focus();
                    } else {
                        accButton[activehead - 1].focus();

                    }
                    break;
            }


        });

        //Validation
        /*  function validate(e) {
              let field = e.target;
              let errnode = field.parentNode.parentNode.querySelector(".fielderror");
              if (field.dataset.validate) {

              }

          }*/


        // board to json
        function addBoard() {
            let form1 = new FormData(document.getElementById('board1'));
            let form2 = new FormData(document.getElementById('board2'));
            let data = new Object();
            data.board1 = Object.fromEntries(form1);
            data.board2 = Object.fromEntries(form2);
            data = JSON.stringify(data);

        }

        function submit() {
            let client = new HttpClient('http://localhost', 'matrimony/family', 'post', '', data);
            client.request().then((data) => {
                if (data.status === 'Success') {
                    console.log('hurray');

                }
            });
        }

        window.load = accButton[0].click();
    </script>
</body>

</html>