<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/form.css">
    <link rel="stylesheet" href="assets/css/validate.css">
    <link rel="stylesheet" href="assets/css/horoscope.css">
    <link rel="stylesheet" href="assets/css/accordion.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <title>Matrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
            <div class="navopt">
                <span>
                    <a href="#">Home</a>
                </span>
                <span>
                    <a href="#">Members</a>
                </span>
                <span>
                    <a href="#">Settings</a>
                </span>
                <span>
                    <a href="#">About</a>
                </span>
            </div>
        </nav>
        <div class="formcontainer">
            <div class="accordion" data-index="1" data-target="p_details" data-title="Personal details">
                <div class="accordionContent" id="p_details">
                    <form name="member" data-next="">
                        <div class="grid-auto-autofit-min330">
                            <div class="grid-auto-2">

                                <div class="flex-col col-2 row-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Photo:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="file" name="photo" id="profileUp">
                                        <div class="profilePhoto">
                                            <img id="profilePic" src="assets/img/altProfile.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Name:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="name" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Age:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" readonly>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">DOB:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="date" name="dob" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Gender:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select name="gender" data-validate="required">
                                            <option value="">-</option>
                                            <option value="male">Male</option>
                                            <option value="female">female</option>
                                            <option value="Other">Other</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Religion:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select name="religion" data-validate="required">
                                            <option value="">-</option>

                                        </select>

                                    </div>

                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Caste:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select name="caste_rel_id" data-validate="required">
                                            <option value="">-</option>
                                        </select>

                                    </div>

                                </div>

                            </div>
                            <div class="grid-auto-2">
                                <div class="flex-col col-2 row-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Address:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <textarea></textarea>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">City/Town:</div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Pin Code:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">District:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname"> Email: </div>
                                        <div class="errorField"></div>

                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Phone no:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    
                                    <div class="fieldinp">
                                        <input type="text" data-validate="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="grid-auto-2">
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Star:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Qualification:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Occupation:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Height:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>

                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Physique:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Complexion:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="flex-row-reverse">
                            <button id="submit" class="formSubmitBtn">Add</button>
                        </div>
                    </form>


                </div>
            </div>
            <div class="accordion" data-isdisabled="true" data-index="2" data-target="fam_details"
                data-title="Family details">

                <div class="accordionContent" id="fam_details">
                    <div class="grid-auto-autofit-min330">
                        <form id="familyData">
                            <div class="grid-auto-2">

                                <div class="flex-col">
                                    <div class="fieldtitle">Father's name:</div>
                                    <div class="fieldinp">
                                        <input type="text" name="fName">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">Father's contact No.</div>
                                    <div class="fieldinp">
                                        <input type="text" name="fmobile_no">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">Father's landline:</div>
                                    <div class="fieldinp">
                                        <input type="text" name="fName">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">Father's email:</div>
                                    <div class="fieldinp">
                                        <input type="text" name="fmobile_no">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">Father's occupation</div>
                                    <div class="fieldinp">
                                        <input type="text" name="fOcc">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">Mother's name:</div>
                                    <div class="fieldinp">
                                        <input type="text" name="mName">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">Mother's contact No.</div>
                                    <div class="fieldinp">
                                        <input type="text" name="mmobile_no">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">Mother's landline:</div>
                                    <div class="fieldinp">
                                        <input type="text" name="mName">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">Mother's email.</div>
                                    <div class="fieldinp">
                                        <input type="text" name="mmobile_no">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">Mother's occupation</div>
                                    <div class="fieldinp">
                                        <input type="text" name="mOcc">
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="accordion" data-index="2-1" data-target="sib_details" data-title="Siblings">
                        <div class="accordionContent" id="sib_details">
                            <div class="flex-row">
                                <div class="fieldtitle">
                                        <div class="fieldname">Add sibling:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                <button type="button" class="add-sib-btn" id="sibAdd">+</button>
                            </div>
                            <div class="grid-auto-1fluid" id="sibDet"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="accordion" data-index="3" data-target="horo" data-title="Horoscope">
            <div class="accordionContent" id="horo">

                <div class="grid-auto-autofit-min330">
                    <div class="grid-auto-2">
                        <div class="flex-col col-2 row-4">
                            <div class="panel">

                                <!-- board 1 -->
                                <form class="board" id="board1">
                                    <textarea class="square" name="1"></textarea>
                                    <textarea class="square" name="2"></textarea>
                                    <textarea class="square" name="3"></textarea>
                                    <textarea class="square" name="4"></textarea>
                                    <textarea class="square" name="5"></textarea>
                                    <textarea class="square" name="6"></textarea>
                                    <textarea class="square" name="7"></textarea>
                                    <textarea class="square" name="8"></textarea>
                                    <textarea class="square" name="9"></textarea>
                                    <textarea class="square" name="10"></textarea>
                                    <textarea class="square" name="11"></textarea>
                                    <textarea class="square" name="12"></textarea>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="grid-auto-2">
                        <div class="flex-col col-2 row-4">
                            <div class="keyboard" id="keyB">
                                <button class="keyboardKey" value="ബൂ">ബൂ</button>
                                <button class="keyboardKey" value="ച">ച</button>
                                <button class="keyboardKey" value="കു">കു</button>
                                <button class="keyboardKey" value="ഗു">ഗു</button>
                                <button class="keyboardKey" value="മ">മ</button>
                                <button class="keyboardKey" value="മാ">മാ</button>
                                <button class="keyboardKey" value="ല">ല</button>
                                <button class="keyboardKey" value="ര">ര</button>
                                <button class="keyboardKey" value="സ">സ</button>
                                <button class="keyboardKey" value="ശി">ശി</button>
                                <button class="keyboardKey" value="ശു">ശു</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid-auto-2">
                        <div class="flex-col col-2 row-4">
                            <div class="panel">

                                <form class="board" id="board2">
                                    <textarea class="square" name="1"></textarea>
                                    <textarea class="square" name="2"></textarea>
                                    <textarea class="square" name="3"></textarea>
                                    <textarea class="square" name="4"></textarea>
                                    <textarea class="square" name="5"></textarea>
                                    <textarea class="square" name="6"></textarea>
                                    <textarea class="square" name="7"></textarea>
                                    <textarea class="square" name="8"></textarea>
                                    <textarea class="square" name="9"></textarea>
                                    <textarea class="square" name="10"></textarea>
                                    <textarea class="square" name="11"></textarea>
                                    <textarea class="square" name="12"></textarea>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="submit" class="formSubmitBtn">Add</button>

    </div>

    </div>

    </div>
    </div>


    <script src="assets/js/image.js"></script>

    <script type="module">
        /* import { bind } from './assets/js/validate.js';
         let formctnr = document.querySelectorAll(".formcontainer");
         formctnr.forEach((value) => {
             value.querySelectorAll("input,textarea").forEach((elm) =>{
                 bind(elm, elm.parentElement.parentElement.querySelector('.errorField'))

             });
         }); */
    </script>

    <script type="module">
        import { bind, init } from './assets/js/accordion.js';
        document.querySelectorAll('.accordion').forEach((elm) => {
            bind(elm);
        });
        init();
    </script>

    <script src="assets/js/approve.min.js"></script>

    <script type="module">
        // init
        function getValidRule(rule) {
                    switch (rule) {
                        case "phone":
                            return {
                                title:"Phone no",
                                stop: true,
                                required:true,
                                numeric: true
                            }
                            break;
                        case "email":
                            return {
                                title: "email",
                                stop: true,
                                required: true,
                                email: true
                            }
                            break;
                        case "required":
                            return {
                                title: "This feild",
                                stop: true,
                                required: true,
                            }


                    }
                }
        import('./assets/js/validate.js')
            .then(module => {
                
                let formctnr = document.querySelectorAll(".formcontainer");
                formctnr.forEach((value) => {
                    value.querySelectorAll("input,textarea,select").forEach((elm) => {
                        if (elm.dataset.validate) {
                            module.bind(elm, elm.parentElement.parentElement.querySelector('.errorField'), getValidRule(elm.dataset.validate));

                        }


                });
            });
            })
            .catch (err => {
            console.log(err.message);
        });
        import { render, compile, renderToDOM } from './assets/js/templating.js';
        import HttpClient from './assets/js/httpClient.js';
        import serialize from './assets/js/getters.js';
        var index = 0;
        var siblingdata = new Object();

        (function () {
            addSibling();
        })();


        //sibling add
        document.getElementById('sibAdd').addEventListener('click', siblingData);


        function addSibling() {
            let sibNode = document.getElementById('sibDet');
            let sibAcc = document.getElementById('sib_details');

            let Template = `
            <form class="grid-auto-3fluid" id= "sibling${index}">
            <div class="flex-col">
                <div class="fieldtitle">
                                        <div class="fieldname">Gender:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                <div class="fieldinp"><select name="gender">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option></select>
                    </div>
                    </div>
                    <div class="flex-col form-m-age">
                        <div class="fieldtitle">
                                        <div class="fieldname">Age:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                        <div class="fieldinp">
                            <input name="age" type="number">
                            </div></div>
                    <div class="flex-col">
                    <div class="fieldtitle">
                                        <div class="fieldname">Married:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                    <div class="fieldinp">
                        <select name="married">
                            <option value="1">Yes</option>
                            <option value="0">No</option></select>
                            </div>
                    </div>
                </form>    
                    `;
            renderToDOM(Template, sibNode);
        }

        function siblingData() {
            let form = `sibling${index}`;
            const formdata = serialize(form, 'json');
            siblingdata[index] = formdata;

            index++;
            addSibling();
            console.log(siblingdata)
        }

        //keyboard
        document.querySelectorAll(".keyboardKey").forEach(el => {
            el.addEventListener('mousedown', insertKey);
        });

        function insertKey(e) {
            e.preventDefault();
            let key = e.target,
                val = key.value,
                active = document.activeElement;
            active.value += val;

        }

        (function () {
            let relNode = document.getElementsByName('religion')[0],
                casteNode = document.getElementsByName('caste_rel_id')[0],
                temp = `<option value="{{value}}">{{valuesh}}</option>`,
                c = compile(temp),
                dat = [],
                client = new HttpClient('http://localhost', 'matrimony/religion/all', 'get', '');
            client.request().then((d) => {
                let retData = d.data
                Object.keys(retData).forEach((val, index) => {
                    dat.push({ 'value': retData[val].religion, 'valuesh': retData[val].religion });
                });
                renderToDOM(render(c, dat), relNode);
            });
            relNode.addEventListener('change', (e) => {
                if (e.target.selectedIndex) {
                    loadCaste(e.target.value);
                }
            });
            function loadCaste(rel) {
                dat = [];
                casteNode.textContent = '';
                client = new HttpClient('http://localhost', 'matrimony/religion/caste/?rel=' + rel, 'get', '');
                client.request().then((d) => {
                    let retData = d.data
                    Object.keys(retData).forEach((val, index) => {
                        dat.push({ 'value': retData[val].id, 'valuesh': retData[val].caste });
                    });
                    renderToDOM(render(c, dat), casteNode);
                });
            }
        })();

        document.addEventListener('validForm', (e) => {
            console.log(e.target);
        });
        function submit() {
            let client = new HttpClient('http://localhost', 'matrimony/family', 'post', '', data);
            client.request().then((data) => {
                if (data.status === 'Success') {
                    console.log('hurray');

                }
            });
        }
        console.log(index);
    </script>
    <script>

    </script>
</body>

</html>