<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimony -- Members</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <script src="assets/js/DataTables/jQuery-3.3.1/jquery-3.3.1.min.js"></script>

    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="assets/js/DataTables/DataTables-1.10.23/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
        src="assets/js/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="assets/js/DataTables/SearchPanes-1.2.2/css/searchPanes.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
        src="assets/js/DataTables/SearchPanes-1.2.2/js/dataTables.searchPanes.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/js/DataTables/Select-1.3.1/css/select.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
        src="assets/js/DataTables/Select-1.3.1/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/js/DataTables/Buttons-1.6.5/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
        src="assets/js/DataTables/Buttons-1.6.5/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="assets/js/DataTables/Buttons-1.6.5/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/js/DataTables/Select-1.3.1/css/select.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
        src="assets/js/DataTables/Select-1.3.1/js/dataTables.select.min.js"></script>
</head>

<body>

    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Members</h4>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-title">
                            Member Listing
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="display cell-border compact" id="memTbl">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Religion</th>
                                            <th>Caste</th>
                                            <th>District</th>
                                            <th>City</th>
                                            <th>Qualification</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <script src="assets/js/sweetalert.min.js"></script>
    <script type="module">
        // init
        import { render, compile, renderToDOM } from './assets/js/templating.js';
        import HttpClient from './assets/js/httpClient.js';
        import serialize from './assets/js/getters.js';


        async function sendRequest(endpoint, method, contentType = false, form = false, addition = false) {
            let client, data;
            if (method === 'get' || method === 'GET') {
                client = new HttpClient('http://localhost', endpoint, 'GET', '');
            } else {
                data = serialize(form, contentType, addition);
                if (contentType === 'application/json') {
                    client = new HttpClient('http://localhost', endpoint, method, { 'Content-Type': contentType }, data);
                } else {
                    client = new HttpClient('http://localhost', endpoint, method, null, data);

                }
            }
            return new Promise(function (resolve, reject) {
                client.request().then((data) => {
                    if (method === 'GET' || method === 'get') {

                        resolve(data);
                    } else {
                        if (data.status === 'success') {
                            resolve(data);
                        } else {
                            swal("Failed", 'Something happened', "error");

                        }
                    }

                }).catch(error => {
                    swal("Failed", error.message, "error");
                });
            });

        }
        function getMemberData() {
            return new Promise((res, rej) => {
                sendRequest('matrimony/member/details/all', 'GET').then((dat) => {
                    if (dat.status === 'success') {
                        let memData = [];
                        Object.values(dat.data).forEach(val => {
                            val['age'] = getAge(val.dob);
                            memData.push(val);
                        });
                        res(memData);
                    }
                    else {
                        rej('Something is wrong');
                    }
                });
            });

        }
        getMemberData().then(data => {
            let table =
                $('#memTbl').DataTable({
                    dom: 'PBfrtlip',
                    data: data,
                    columns: [
                        { data: 'id' },
                        { data: 'name' },
                        { data: 'age' },
                        { data: 'gender' },
                        { data: 'religion' },
                        { data: 'caste' },
                        { data: 'district' },
                        { data: 'city' },
                        { data: 'qualification' }

                    ],
                    searchPanes: {
                        cascadePanes: true
                    },
                    buttons: [
                        'copy',
                        {
                            text: 'print',
                            action: function (e, dt, node, config) {
                                let nextPgData = {};
                                nextPgData.ids = []
                                table.rows({ selected: true }).every(function (rowIdx, tableLoop, rowLoop) {
                                    nextPgData.ids.push(this.data().id); 
                                });
                                localStorage.setItem('nextPgData', JSON.stringify(nextPgData));
                            }
                        }

                    ],
                    select: {
                        style: 'multi'
                    }

                });

        }).catch(e => {
            swal("Failed", error, "error");
        });
        function getAge(date) {
            let today = new Date(),
                DOB = new Date(date),
                nowMonth = parseInt(today.getMonth()),
                nowYear = parseInt(today.getFullYear()),
                DOBMonth = DOB.getMonth(),
                DOBYear = DOB.getUTCFullYear(), age;
            if (DOBMonth <= nowMonth) {
                age = nowYear - DOBYear;
            } else {
                age = nowYear - DOBYear - 1;
            }
            return age;
        }
    </script>
    <script>

    </script>
</body>

</html>