<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Martrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
            <div class="navopt">
                <span>
                    <a href="#">Home</a>
                </span>
                <span>
                    <a href="#">Members</a>
                </span>
                <span>
                    <a href="#">Settings</a>
                </span>
                <span>
                    <a href="#">About</a>
                </span>
            </div>
        </nav>
        <div class="logformcontainer">
            <div class="formheadwrap">
                <div class="formheading">
                    <div class=formtitle>Login:</div>
                </div>
            </div>
            <form id="login">
                <div class="formbox">
                    <div class="logsubform">
                        <div class="feildcont col-2">
                            <div class="feildname">Name:</div>
                            <div class="feildinp">
                                <input type="text" name="username">
                            </div>
                        </div>
                        <div class="feildcont col-2">
                            <div class="feildname">Password:</div>
                            <div class="feildinp">
                                <input type="password" name="password">
                            </div>
                        </div>
                        <div class="feildcont">
                            <div class="feildname"></div>
                            <div class="feildinp">
                                <button type="button" onclick="login()">Login</button>
                            </div>
                        </div>

                    </div>

                </div>
            </form>

        </div>
        <div id="svg" class="coupleVect">
            <object type="image/svg+xml" data="/matrimony/App/View/assets/img/undraw_love.svg" class="cvector">
                <!-- fallback image in CSS -->
            </object>
        </div>
    </div>
    <script src="assets/js/httpClient.js"></script>
    <script>
        // import HttpClient from './assets/js/HttpClient.js';

        function login() {


            const form = document.getElementById('login');

            const data = new URLSearchParams();
            for (const pair of new FormData(form)) {
                data.append(pair[0], pair[1]);
            }
            let client = new HttpClient('http://localhost', 'matrimony/login', 'post', '', data);
            let request = client.request().then((data) => {
                console.log(data);;

            });
            request.init()
                .then(data => {
                    if (!data.ok) {
                        throw new Error('network issue');
                    }
                    return data.json();
                }).then((data) => {
                    console.log(data.json());
                    if (data.status === "Success") {
                        // routing logic
                        console.log("success");
                    } else {
                        // incorrect credentials
                        alert(data)
                    }
                })
                .catch(error => {
                    return `error ${error}`;
                });
        }
    </script>
</body>

</html>