<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Martrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
            <div class="navopt">
                <span>
                    <a href="#">Home</a>
                </span>
                <span>
                    <a href="#">Members</a>
                </span>
                <span>
                    <a href="#">Settings</a>
                </span>
                <span>
                    <a href="#">About</a>
                </span>
            </div>
        </nav>
        <div class="logformcontainer">
            <div class="formheadwrap">
                <div class="formheading">
                    <div class=formtitle>Login:</div>
                </div>
            </div>
            <div class="formbox">
                <div class="subform1">
                    <div class="feildcont col-2">
                        <div class="feildname">Name:</div>
                        <div class="feildinp">
                            <input type="text">
                        </div>
                    </div>
                    <div class="feildcont col-2">
                        <div class="feildname">Password:</div>
                        <div class="feildinp">
                            <input type="password">
                        </div>
                    </div>
                    <div class="feildcont">
                        <div class="feildname"></div>
                        <div class="feildinp">
                            <button>Submit</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>
    </script>
</body>

</html>