<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Martrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
        </nav>
        <div class="logformcontainer">
            <div class="formheadwrap">
                <div class="formheading">
                    <div class=formtitle>Login:</div>
                </div>
            </div>
            <form id="login">
                <div class="formbox">
                    <div class="logsubform">
                        <div class="feildcont col-2">
                            <div class="feildname">Name:</div>
                            <div class="feildinp">
                                <input type="text" name="username">
                            </div>
                        </div>
                        <div class="feildcont col-2">
                            <div class="feildname">Password:</div>
                            <div class="feildinp">
                                <input type="password" name="password">
                            </div>
                        </div>
                        <div class="feildcont">
                            <div class="feildinp">
                                <button type="button" onclick="login()">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div id="svg" class="coupleVect">
            <object type="image/svg+xml" data="/matrimony/App/View/assets/img/undraw_love.svg" class="cvector">
                <!-- fallback image in CSS -->
            </object>
        </div>
    </div>
    <script src="assets/js/sweetalert.min.js"></script>
    <script type="module">
        import HttpClient from './assets/js/httpClient.js';
        import getFormData from './assets/js/getters.js'

        window.login = function () {
            let data = getFormData(document.getElementById('login'), 'application/x-www-form-urlencoded');
            let client = new HttpClient('http://localhost', 'matrimony/login', 'post', '', data);
            let request = client.request().then((data) => {
                if (data.status === 'success') {
                    window.location.href = "/matrimony/App/View/Home.html";
                }
                else {
                    swal("Failed", "Login failed", "error");

                }
            });

        }
    </script>
    </body>
</body>

</html>