<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/form.css">
    <link rel="stylesheet" href="assets/css/validate.css">
    <link rel="stylesheet" href="assets/css/horoscope.css">
    <link rel="stylesheet" href="assets/css/accordion.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <title>Matrimony</title>
</head>

<body>
    <div class="wrapper">
        <nav class="topnav">
            <div class="brand">
                <div class="brandname">XYX Matrimony</div>
            </div>
            <div class="navopt">
                <span>
                    <a href="#">Home</a>
                </span>
                <span>
                    <a href="#">Members</a>
                </span>
                <span>
                    <a href="#">Settings</a>
                </span>
                <span>
                    <a href="#">About</a>
                </span>
            </div>
        </nav>
        <div class="formcontainer">
            <div class="accordion" id="accord1" data-index="1" data-target="p_details" data-title="Personal details">
                <div class="accordionContent" id="p_details">
                    <form name="member" data-next="accord2-accord3" id="memberData">
                        <div class="grid-auto-autofit-min330">
                            <div class="grid-auto-2">

                                <div class="flex-col col-2 row-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Photo:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="file" name="photo" id="profileUp">
                                        <div class="profilePhoto">
                                            <img id="profilePic" src="assets/img/altProfile.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Id:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" id="memberId" name="memberId" disabled>
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Name:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="name" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Join Date:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="date" name="join_date">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Age:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" readonly id="memage">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">DOB:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="date" name="dob" data-validate="required"
                                            onchange="showAge(event);">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Gender:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select name="gender" data-validate="required">
                                            <option value="">-</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">female</option>
                                            <option value="Other">Other</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Religion:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select id="religion" name="religion" data-validate="required">
                                            <option value="">-</option>

                                        </select>

                                    </div>

                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Caste:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <select name="caste_id" data-validate="required">
                                            <option value="">-</option>
                                        </select>

                                    </div>

                                </div>

                            </div>
                            <div class="grid-auto-2">
                                <div class="flex-col col-2 row-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Address:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <textarea name="addr" data-validate="required"></textarea>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">District:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="dist" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">City/Town:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="city" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Landmark:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="landmark">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Pin Code:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="pin" data-validate="pin">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Phone no:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>

                                    <div class="fieldinp">
                                        <input name="mobile" type="text" data-validate="phone">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname"> Email: </div>
                                        <div class="errorField"></div>

                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mail" data-validate="email">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Landline:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>

                                    <div class="fieldinp">
                                        <input name="landline" type="text" data-validate="number">
                                    </div>
                                </div>

                            </div>
                            <div class="grid-auto-2">
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Star:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="star" type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Qualification:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="qualification" type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Occupation:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="occupation" type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Height:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="height" type="text">
                                    </div>
                                </div>

                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Physique:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="physique" type="text">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Complexion:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input name="complexion" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="accordion" id="accord2" data-index="2" data-target="fam_details" data-title="Family details">
                <div class="accordionContent" id="fam_details">
                    <div class="grid-auto-autofit-min330">
                        <form id="familyData" data-next="accord21">
                            <div class="grid-auto-2">
                                <input type="hidden" id="familyId" name="familyId">
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's name:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="fName" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's contact no:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="fmobile" data-validate="phoneNotReq">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's landline:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="flandline" data-validate="phoneNotReq">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's email:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="fmail" data-validate="email">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Father's occupation:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="fOcc">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's name:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mName" data-validate="required">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's contact no:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mmobile" data-validate="phoneNotReq">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's landline:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mlandline" data-validate="phoneNotReq">
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's email:</div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mmail" data-validate="email">
                                    </div>
                                </div>
                                <div class="flex-col col-2">
                                    <div class="fieldtitle">
                                        <div class="fieldname">Mother's occupation:

                                        </div>
                                        <div class="errorField">
                                        </div>
                                    </div>
                                    <div class="fieldinp">
                                        <input type="text" name="mOcc">
                                    </div>
                                </div>

                        </form>
                    </div>
                    <div class="accordion" id="accord21" data-index="2-1" data-target="sib_details"
                        data-title="Siblings">
                        <div class="accordionContent" id="sib_details">
                            <form id="siblingData">
                                <div class="grid-auto-1fluid" id="sibDet"></div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="accordion" id="accord3" data-index="3" data-target="horo" data-title="Horoscope">
            <div class="accordionContent" id="horo">
                <form id="horoscopeData">
                    <div class="grid-auto-autofit-min330">
                        <div class="squareGrid">
                            <div class="panel">

                                <!-- board 1 -->
                                <div class="board" id="board1">
                                    <textarea class="square" name="a1"></textarea>
                                    <textarea class="square" name="a2"></textarea>
                                    <textarea class="square" name="a3"></textarea>
                                    <textarea class="square" name="a4"></textarea>
                                    <textarea class="square" name="a5"></textarea>
                                    <textarea class="square" name="a6"></textarea>
                                    <textarea class="square" name="a7"></textarea>
                                    <textarea class="square" name="a8"></textarea>
                                    <textarea class="square" name="a9"></textarea>
                                    <textarea class="square" name="a10"></textarea>
                                    <textarea class="square" name="a11"></textarea>
                                    <textarea class="square" name="a12"></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="grid-auto-2">

                        </div>
                        <div class="squareGrid">
                            <div class="panel">

                                <div class="board" id="board2">
                                    <textarea class="square" name="b1"></textarea>
                                    <textarea class="square" name="b2"></textarea>
                                    <textarea class="square" name="b3"></textarea>
                                    <textarea class="square" name="b4"></textarea>
                                    <textarea class="square" name="b5"></textarea>
                                    <textarea class="square" name="b6"></textarea>
                                    <textarea class="square" name="b7"></textarea>
                                    <textarea class="square" name="b8"></textarea>
                                    <textarea class="square" name="b9"></textarea>
                                    <textarea class="square" name="b10"></textarea>
                                    <textarea class="square" name="b11"></textarea>
                                    <textarea class="square" name="b12"></textarea>

                                </div>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>

    </div>

    </div>

    </div>
    </div>

    <script src="assets/js/sweetalert.min.js"></script>
    <script src="assets/js/image.js"></script>
    <script type="module">
        import { bind, init } from './assets/js/accordion.js';
        document.querySelectorAll('.accordion').forEach((elm) => {
            bind(elm);
        });
        init({ "open": true });
    </script>
    <script type="module">
        // init
        let memId = 681, memberData;
        import { render, compile, renderToDOM } from './assets/js/templating.js';
        import HttpClient from './assets/js/httpClient.js';
        import serialize from './assets/js/getters.js';




        (function () {
            let relNode = document.getElementById('religion'),
                casteNode = document.getElementsByName('caste_id')[0],
                temp = `<option value="{{value}}">{{valuesh}}</option>`,
                c = compile(temp),
                dat = [],
                client = new HttpClient('http://localhost', 'matrimony/religion/all', 'get', '');
            relNode.addEventListener('change', (e) => {
                if (e.target.selectedIndex) {
                    loadCaste(e.target.value);
                }
            });
            client.request().then((d) => {
                let retData = d.data;
                Object.keys(retData).forEach((val, index) => {
                    dat.push({ 'value': retData[val].religion, 'valuesh': retData[val].religion });
                });
                renderToDOM(render(c, dat), relNode);
            });

            function loadCaste(rel) {
                dat = [];
                casteNode.textContent = '';
                client = new HttpClient('http://localhost', 'matrimony/religion/caste/?rel=' + rel, 'get', '');
                client.request().then((d) => {
                    if (d.status == 'success') {
                        let retData = d.data
                        Object.keys(retData).forEach((val, index) => {
                            dat.push({ 'value': retData[val].id, 'valuesh': retData[val].caste });
                        });
                        renderToDOM(render(c, dat), casteNode);
                    }

                });
            }
        })();


        let formMap = new Object();
        document.querySelectorAll('form').forEach(form => {
            formMap[form.getAttribute('id')] = new Object();
            form.querySelectorAll('input,select,textarea').forEach(inp => {
                formMap[form.getAttribute('id')][inp.name] = inp;
            });

        });



        function selectOption(value, node) {
            var selectOptions = node.options;
            for (var opt, j = 0; j < node.length; j++) {
                let opt = selectOptions[j];
                if (opt.value == value) {
                    node.selectedIndex = j;
                    return node.selectedOptions[0];
                }
            }
        }
        function disableForm(form) {
            form.querySelectorAll('input,textarea,select').forEach(e => {
                e.disabled = true;
            });
        }

        function populate() {
            return new Promise((resolve, reject) => {
                sendRequest('matrimony/member/details/?id=' + memId, 'GET').then((dat) => {
                    if (dat.status === 'success') {
                        resolve(dat.data);
                    }
                    else {
                        reject('Member not found');
                    }
                });
            });
        }
        populate().then(data => {

            let dataMap = {
                'memberData': {
                    "memberId":data.id,
                    "photo": data.photo,
                    "name": data.name,
                    "join_date": data.join_date,
                    "dob": data.dob,
                    "gender": data.gender,
                    "religion": data.religion,
                    "caste_id": data.caste,
                    "addr": data.address,
                    "dist": data.district,
                    "city": data.city,
                    "landmark": data.landmark,
                    "pin": data.pin,
                    "mobile": data.mobile_no,
                    "mail": data.mail_id,
                    "landline": data.landline,
                    "star": data.star,
                    "qualification": data.qualification,
                    "occupation": data.occupation,
                    "height": data.height,
                    "physique": data.physique,
                    "complexion": data.complexion
                },
                'familyData': {
                    "familyId":data.family,
                    "fName": data.father,
                    "fOcc": data.fOcc,
                    "mName": data.mother,
                    "mOcc": data.mOcc,
                    "fmobile": data.F_mobile,
                    "flandline": data.F_landline,
                    "fmail": data.F_mail,
                    "mmobile": data.M_mobile,
                    "mlandline": data.M_landline,
                    "mmail": data.M_mail
                }
            }
            if (data.horoscope) {
                Object.assign(dataMap, {
                    'horoscopeData': {
                        "a1": data.horoscope.board1.a1,
                        "a2": data.horoscope.board1.a2,
                        "a3": data.horoscope.board1.a3,
                        "a4": data.horoscope.board1.a4,
                        "a5": data.horoscope.board1.a5,
                        "a6": data.horoscope.board1.a6,
                        "a7": data.horoscope.board1.a7,
                        "a8": data.horoscope.board1.a8,
                        "a9": data.horoscope.board1.a9,
                        "a10": data.horoscope.board1.a10,
                        "a11": data.horoscope.board1.a11,
                        "a12": data.horoscope.board1.a12,
                        "b1": data.horoscope.board2.b1,
                        "b2": data.horoscope.board2.b2,
                        "b3": data.horoscope.board2.b3,
                        "b4": data.horoscope.board2.b4,
                        "b5": data.horoscope.board2.b5,
                        "b6": data.horoscope.board2.b6,
                        "b7": data.horoscope.board2.b7,
                        "b8": data.horoscope.board2.b8,
                        "b9": data.horoscope.board2.b9,
                        "b10": data.horoscope.board2.b10,
                        "b11": data.horoscope.board2.b11,
                        "b12": data.horoscope.board2.b12
                    }
                });
            }
            addData(dataMap);
            addReligion(data.religion, data.caste_rel_id);
            if (data.siblings) {
                addSiblingData(data.siblings);
            }
        });

        function addData(d) {
            for (const [form, formObj] of Object.entries(d)) {
                for (const [k, v] of Object.entries(formObj)) {

                    if (formMap[form][k]) {
                        let inp = formMap[form][k];
                        if (inp.nodeName === 'SELECT') {
                            if (inp.length > 1) {
                                selectOption(v, inp);
                            }
                        } else if (inp.nodeName === 'INPUT' || inp.nodeName === 'TEXTAREA') {
                            if (inp.type !== 'file') {
                                inp.value = v;

                            }
                        } else {
                            if (k === 'photo')
                                document.getElementById('profilePic').src = 'http://localhost/matrimony/public/uploads/images/' + v;
                        }
                    }

                }
                disableForm(document.getElementById(form));
            }


            showAge();

        }

        function addSiblingData(sibData) {
            let sibNode = document.getElementById('sibDet'),
                sibAcc = document.getElementById('sib_details'),
                i = -1;
            for (const [key, val] of Object.entries(sibData)) {
                i++;
                let Template = `
            <div class="grid-auto-3fluid"">
                <input type="hidden" name="id" value="${val.id}">
                <div class="flex-col">
                    <div class="fieldtitle">
                        <div class="fieldname">Gender:</div>
                            <div class="errorField"></div>
                    </div>
                    <div class="fieldinp">
                        <select name="gender" data-validate="required">
                            <option value="">-</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="flex-col form-m-age">
                    <div class="fieldtitle">
                        <div class="fieldname">Age:</div>
                            <div class="errorField"></div>
                    </div>
                    <div class="fieldinp">
                        <input name="age" type="number" value="${val.age}" data-validate="required">
                    </div>
                </div>
                <div class="flex-col">
                    <div class="fieldtitle">
                        <div class="fieldname">Married:</div>
                        <div class="errorField"></div>
                    </div>
                    <div class="fieldinp">
                        <select name="married" data-validate="required">
                            <option value="">-</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                </div>    
                    `;
                renderToDOM(Template, sibNode);
                let gendNode = sibAcc.querySelectorAll('select[name="gender"]')[i],
                    marrNode = sibAcc.querySelectorAll('select[name="married"]')[i];
                selectOption(val.gender, gendNode);
                selectOption(val.marital_status, marrNode);
            }

            disableForm(document.getElementById('siblingData'));

        }


        function addReligion(religion, caste_id) {
            let relNode = document.getElementById('religion'),
                casteNode = document.getElementsByName('caste_id')[0],
                relInt = setInterval(() => {
                    if (relNode.length > 1) {
                        let sel = selectOption(religion, relNode);
                        let changeEvent = new Event('change', {
                            view: window,
                            bubbles: true,
                            cancelable: true
                        });
                        relNode.dispatchEvent(changeEvent);
                        clearInterval(relInt);
                    }
                }, 200),
                casteInt = setInterval(() => {
                    if (casteNode.length > 1) {
                        selectOption(caste_id, casteNode);
                        clearInterval(casteInt);
                    }
                }, 200);

        }
        // religion and caste fetching
        /*function addReligion(religion, caste_id) {
            let relNode = document.getElementById('religion'),
                temp = `<option value="{{value}}">{{valuesh}}</option>`,
                c = compile(temp),
                dat = [],
                client = new HttpClient('http://localhost', 'matrimony/religion/all', 'get', '');
            client.request().then((d) => {
                let retData = d.data
                Object.keys(retData).forEach((val, index) => {
                    dat.push({ 'value': retData[val].religion, 'valuesh': retData[val].religion });
                });
                renderToDOM(render(c, dat), relNode);
                var selectOptions = relNode.options;
                for (var opt, j = 0; opt = selectOptions[j]; j++) {
                    if (opt.value == religion) {
                        relNode.selectedIndex = j;
                        break;
                    }
                }
                loadCaste(relNode.options[relNode.selectedIndex].value);

            });
            relNode.addEventListener('change', (e) => {
                if (e.target.selectedIndex) {
                    loadCaste(e.target.value);
                }
            });
            function loadCaste(rel) {
                let casteNode = document.getElementsByName('caste_id')[0],
                    temp = `<option value="{{value}}">{{valuesh}}</option>`,
                    c = compile(temp),
                    dat = [];
                dat = [];
                casteNode.textContent = '';
                client = new HttpClient('http://localhost', 'matrimony/religion/caste/?rel=' + rel, 'get', '');
                client.request().then((d) => {
                    let retData = d.data
                    Object.keys(retData).forEach((val, index) => {
                        dat.push({ 'value': retData[val].id, 'valuesh': retData[val].caste });
                    });
                    renderToDOM(render(c, dat), casteNode);
                    var selectOptions = casteNode.options;
                    for (var opt, j = 0; opt = selectOptions[j]; j++) {
                        if (opt.value == caste_id) {
                            casteNode.selectedIndex = j;
                            break;
                        }
                    }
                });
            }
        }; */
        //after form submit

        async function sendRequest(endpoint, method, contentType = false, form = false, addition = false) {
            let client, data;
            if (method === 'get' || method === 'GET') {
                client = new HttpClient('http://localhost', endpoint, 'GET', '');
            } else {
                data = serialize(form, contentType, addition);
                if (contentType === 'application/json') {
                    client = new HttpClient('http://localhost', endpoint, method, { 'Content-Type': contentType }, data);
                } else {
                    client = new HttpClient('http://localhost', endpoint, method, null, data);

                }
            }
            return new Promise(function (resolve, reject) {
                client.request().then((data) => {
                    if (method === 'GET' || method === 'get') {

                        resolve(data);
                    } else {
                        if (data.status === 'success') {
                            resolve(data);
                        } else {
                            swal("Failed", 'Something happened', "error");

                        }
                    }

                }).catch(error => {
                    swal("Failed", error.message, "error");
                });
            });

        }

    </script>
    <script>
        function showAge() {
            let today = new Date(),
                DOB = new Date(document.getElementsByName('dob')[0].value),
                targetElm = document.getElementById('memage'),
                nowMonth = parseInt(today.getMonth()),
                nowYear = parseInt(today.getFullYear()),
                DOBMonth = DOB.getMonth(),
                DOBYear = DOB.getUTCFullYear(), age;
            if (DOBMonth <= nowMonth) {
                age = nowYear - DOBYear;
            } else {
                age = nowYear - DOBYear - 1;
            }
            targetElm.value = age;

        }

    </script>
</body>

</html>