.accordionHeadbtn {
    position: relative;
    border-radius: 0;
    width: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionHeadbtn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.accordionHeadbtn:focus {
    background-color: rgba(0, 0, 0, 0.05);
}

.accordionHeadbtn {
    box-shadow: none;
    color: var(--inputbox-bg);
    background-color: var(--tranparent);
}

.accordionHeading {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    transition: all .3s ease-in-out;
}

.accordionHeading::after {
    content: "";
    background: linear-gradient(#77B1B4, #77B1B4);
    width: 100%;
    height: 2px;
}

.activeAccordionHead {
    width: 20%;
}

.accordionTitle {
    margin-left: 4px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
}

.accordionHeadcaret {
    position: absolute;
    right: 0;
    margin-right: 10px;
}