.accordionHeadbtn {
    position: relative;
    border-radius: 0;
    width: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto !important;
}

.accordionHeadbtn:active {
    box-shadow: none;
    transform: none;

}

.accordionHeadbtn:not(.accordionDisableBtn):hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.accordionHeadbtn:not(.accordionDisableBtn):focus {
    background-color: rgba(0, 0, 0, 0.05);
}

.accordionHeadbtn {
    box-shadow: none;
    color: var(--inputbox-bg);
    background-color: var(--tranparent);
}

.accordionHeading {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    transition: all .3s ease-in-out;
}

.accordionHeading::after {
    content: "";
    background: linear-gradient(#77B1B4, #77B1B4);
    width: 100%;
    height: 2px;
}

.accordionTitle {
    width: max-content;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
}

.accordionHeadcaret {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.accordionContent {
    transition: all .3s ease-in-out;
    height: 0;
    overflow: hidden !important;
}

.accordionDisableBtn {
    cursor: not-allowed;
    /*background-color: rgba(245, 114, 114, 0.377);
    background-image: repeating-linear-gradient(45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);*/
    background-image:repeating-linear-gradient(45deg, rgba(255, 83, 83, 0.479) 0, rgba(255, 83, 83, 0.479) 1px, transparent 0, transparent 50%);
    background-size: 25px 25px;
    
}