/* =============================================================
   GENERAL STYLES
 ============================================================ */

.ovr{
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
  text-decoration: none;
}

