/* =============================================================
   GENERAL STYLES
 ============================================================ */

.ovr{
    max-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
